<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.genuva">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.genuva.CreateParty"></activity>
        <activity android:name="com.example.genuva.Parties" />
        <activity android:name="com.example.genuva.BookActivity" />
        <activity android:name="com.example.genuva.Profile" />
        <activity android:name="com.example.genuva.firebase.SignUp" />
        <activity android:name="com.example.genuva.Upload_Image" />
        <activity android:name="com.example.genuva.forget_Password" />
        <activity android:name="com.example.genuva.HomeActivity" />
        <activity android:name="com.example.genuva.Sigin_UP" />
        <activity android:name="com.example.genuva.Login_phone" />
        <activity android:name="com.example.genuva.LoginActivity" />
        <activity
            android:name="com.example.genuva.SplashScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>